.notice-container {
  padding: 24px;
  max-width: 1000px;
  width: 100%;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  @media screen and (min-width: 592px) {
    display: none;
  }
}

.notice-inner {
  align-items: center;
  display: flex;
  gap: 16px;
  background-color: var(--primary);
  color: var(--background);
  padding: 8px 16px;
  border-radius: 4px;
}

.notice-text {
  flex: 1;
}

.notice-symbol,
.notice-btn {
  display: flex;
}
